
.editTargetContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editTargetContent p {
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  margin: 0;
  align-self: start;
}

.editTargetContent .input,
.editTargetContent .textarea {
  background-color: #ffffff; /* White background for inputs */
  color: #2c3e50; /* Dark text color */
  padding: 0.75rem;
  border: 1px solid #dfe6e9;
  border-radius: 4px;
  font-size: 1rem;
}

.editTargetContent .textarea {
  height: 100px;
  resize: none;
}

.editTargetContent .modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.editTargetContent .saveButton {
  background-color: #00b894;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.editTargetContent .cancelButton {
  background-color: #dfe6e9;
  color: #2c3e50;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.editTargetContent .saveButton:hover {
  background-color: #019a73;
}

.editTargetContent .cancelButton:hover {
  background-color: #cfd8dc;
}
