.upcomingBill {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upcomingBill h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #34495e;
}

.upcomingBill p {
  margin: 0.5rem 0;
  color: #2c3e50;
}

.bill {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  border: 1px solid #dcdcdc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.date {
  text-align: center;
  font-weight: bold;
  background-color: #e9e9e957;
  padding: 0 1rem;
  border-radius: 8px;

  p:first-child {
    font-size: 18px;
        color: #3f9ca1;
  }

  p:last-child {
    font-size: 20px;
    color: #34495e;
  }
}

.logo img {
  width: 24px;
  height: 24px;
}

.details {
  flex-grow: 1;
  justify-items: flex-start;
  font-size: 20px;

  p:first-child {
    font-weight: bold;
    color: #34495e;
  }

  p:last-child {
    font-size: 16px;
    color: #95a5a6;
  }
}

.amount {
  font-weight: bold;
  border: 1px solid #00b894;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
}
