.logContainer {
  position: fixed;
  top: 20px;
  right: -300px; /* Start off-screen */
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  z-index: 1000;
}

.logContainer .show {
  transform: translateX(-320px); /* Slide in */
  opacity: 1;
}

.logContainer .hide {
  transform: translateX(0); /* Slide out */
  opacity: 0;
}

.logContainer .success {
  background-color:var(--primary-color);
  color: white;
}

.logContainer .error {
  background-color: #e74c3c;
  color: white;
}

.logContainer .warning {
  background-color: #f39c12;
  color: white;
}

.logContainer .info {
  background-color: #3498db;
  color: white;
}
