.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--light-gray);
  color: #2c3e50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
  transition: left 0.3s ease;
}

@media (max-width: 768px) {
  .headerContainer {
    width: 100%;
    left: 0;
  }
}

.headerContainer .headerLeft h1 {
  margin: 0;
  font-size: 1.8rem;
}

.headerContainer .headerLeft span {
  font-size: 1rem;
  color: #7f8c8d; /* Gray for date */
}

.headerContainer .headerRight {
  display: flex;
  align-items: center;
}

.headerContainer .headerRight input {
  padding: 0.7rem 1rem;
  border: 1px solid var(--light-gray); /* Light border for input */
  border-radius: 5px;
  margin-right: 1.2rem;
  transition: border-color 0.3s ease;
}

.headerContainer .headerRight input:focus {
  border-color: var(--primary-color);
}

.headerContainer .headerRight .notification {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1.2rem;
}

.headerContainer .headerRight .bell-icon {
  font-size: 1.8rem;
  color: #2c3e50;
}

.headerContainer .headerRight .userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.2rem;
}

.headerContainer .headerRight .userProfile img {
  width: 50px;
  height: 45px;
  border-radius: 50%;
}

.headerContainer .headerRight .avatarStyle {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
