.sidebar {
  width: 250px;
  height: calc(100vh - 4rem);
  background: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  padding: 2rem;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow-y: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 1px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;

  svg {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #c5fff3;
  }
}

.sidebar nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 0;
  background-color: var(--primary-color);
  transition: height 0.3s ease;
  border-radius: 2px;
}

.sidebar nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

.sidebar nav ul li a:hover::before {
  height: 100%;
}

.sidebar nav ul li.active a {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px var(--primary-color);
}

.sidebar nav ul li.active a::before {
  height: 100%;
  background-color: #ffffff;
}

.sidebar .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sidebar .brand p {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar .brand p span {
  color:var(--primary-color);
}

.sidebar .logout {
  margin-top: auto;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: center;
  font-size: 1.1rem;
}

.sidebar .logout:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.sidebar .userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.sidebar .userProfile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid var(--primary-color);
}

.sidebar .userProfile span {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.sidebar .userProfile a {
  color:var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.sidebar .userProfile a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
