.expensesContainer {
  grid-column: span 2;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.expensesContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #374151;
}

.expensesContainer .expenseNote {
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
  margin-bottom: 1.5rem;
}

.expensesContainer .expenseIconContainer {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
}

.expensesContainer .expenseContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.expensesContainer .expensesBreakdown {
  grid-column: span 2;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.expensesContainer .expense {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  transition: transform 0.2s, box-shadow 0.2s;
}

.expensesContainer .expense:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.expensesContainer .expenseIcon {
  font-size: 1.5rem;
  color: #4b5563;
}

.expensesContainer .expenseDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.expensesContainer .expenseDetails p {
  margin: 0;
  font-size: 20px;
}

.expensesContainer .expenseAmount {
  font-weight: bold;
  margin-right: 0.5rem;
  color: #1f2937;
}

.expensesContainer .expenseChange {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    font-size: 14px;
    vertical-align: text-top;
  }
}

.expensesContainer .expenseChange p {
  color: #6b7280;
}

.expensesContainer .expenseChange.down svg {
  color: #10b981;
}

.expensesContainer .expenseChange.up svg {
  color: #ef4444;
}

.expensesContainer .expenseChange a {
  color: #3b82f6;
  text-decoration: none;
  font-size: 1.5rem;
}

.expensesContainer .expenseChange a:hover {
  color: #2563eb;
}
