.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 250px; /* Same width as the sidebar */
  transition: margin-left 0.3s ease;
}

.main-content.full-screen {
  margin-left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 2rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sidebar-toggle {
  display: none;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .content {
    width: 100%; /* Full width */
  }

  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    z-index: 1000;
  }
}
